#Contact img {
  height: 10%;
  width: 10%;
  padding: 5%;
}

.slider {
  border-width: medium;
  border-color: black;
}

#Contact {
  box-sizing: initial;
}

.parallax img {
    max-width: 100%;
    max-height: 2000%;
}

.logo {
  font-size: 4em;
  font-family: 'Barrio', cursive;
  padding-left: .1em;
}

nav {
  background-color: black;
}

.slider .slides li .caption {
  top: 5%;
  left: 5%;
}

.parallax h1 {
  text-align: center;
  color: white;
  position: relative;
  width: 100%;
}

.parallax h1:after{
    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    bottom: 0;
    left: 45%;
    border-bottom: .01em solid white;
}

.parallax p {
  color:white;
  z-index: auto;
  text-align: center;

}

.about-text-box {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: .01em;
}

.parallax img {
  z-index: -5;
}
